/* Code CSS de la page "Nouvelle" */

body
{
  font-family:Calibri light, Arial, 'Trebuchet MS',sans-serif;
  background:url("Images/Robot.png") no-repeat right,
  url("Images/Robot7.png") no-repeat left;
  background-size: 500px 1100px;
}



#bloc_page
{
	width: 1000px;
	margin:auto;
	background-color:#C4C4C4;
  border : 1px solid #000000;
  box-shadow: 0px 2px 5px #1c1a19;
  border-radius: 5px;
}

section h1, footer h1, nav a
{
    font-weight: normal;
    text-transform: uppercase;
}




/* Header */




header
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 3px solid #760001;
}

#titre_principal
{
    display: flex;
    padding:20px;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width:100px;
    height:100px;
} 

#logo img
{
    width: 100px;
    height: 100px;
}

header h1
{
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}




/* Navigation */




nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover:visited
{
    color: #6382a8;
}





/* Bannière */




#banniere_image
{
    margin-top: 15px;
    border-radius: 5px;
    height: 231px;
    width: 1000px;
    background: url("Images/Bannière.PNG") no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
}



/* Liens */



a
{
   text-decoration: none;
   color: cyan;
   font-style: italic;
   text-decoration: underline;
}

nav a:visited
{
  color: #760001;
}

a:hover
{
  color: Cyan;
}



/*Corps*/



section
{
    display: flex;
    margin-bottom: 20px;
}

article
{
    margin-right: 20px;
    flex: 3;
}

article p
{
    font-size: 0.8em;
    padding: 20px;
    font-size: 1.2em;
}



/*Footer*/



footer
{
    display: flex;
    padding-top: 25px;
    justify-content: center;
    background-color: #606060;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    border : 1px solid #000000;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

#Isaac
{
  position:absolute;
  bottom:0;
  padding:10px;
}

h2
{
  padding-left:10px;
}

#Bas_page
{
  display:flex;
}

.logo_bas
{
  width:100px;
  height:100px;
}



/* Aligner les divs : j'ai eu beaucoup de mal */



.bloc_bas
{
  display:flex;
  justify-content: flex-start;
}

.bloc_bas:nth-child(1)
{
 flex:0.3;
}
.bloc_bas:nth-child(2)
{
  order: 4;
  flex: 0.5;
}
.bloc_bas:nth-child(3)
{
  order: 2;
  flex: 0.4;
}

.bloc_bas:nth-child(4)
{
 order: 3;
 flex: 0.4;
}

.bloc_bas:nth-child(5)
{
  order: 5;
  flex: 0.4;
}

.bloc_bas:nth-child(6)
{
  order: 6;
}

#logoIUT
{
  width:150px;
  height:110px;
}

/* Médias Queries, responsive design */ /* J'ai choisi de les laisser dans les fichiers CSS pour ne pas m'encombrer avec 8 fichiers différents */

@media screen and (max-width: 1280px)
{
  #bloc_page
  {
   width: auto;
  }

  #banniere_image
  {
   display: none;
  }

  nav ul
  { 
   flex-direction: column;
  }
  section
  {
   flex-direction: column;
  }
  
  #Photo_Isaac
  {
   width: 110px;
   float: right;
   margin-left: 15px;
  }

  footer p
  {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1024px)
{
  #bloc_page
  {
   width: auto;
  }

  #banniere_image
  {
   display: none;
  }

  nav ul
  { 
   flex-direction: column;
  }
  section
  {
   flex-direction: column;
  }
  
  #Photo_Isaac
  {
   width: 110px;
   float: right;
   margin-left: 15px;
  }

  footer p
  {
    font-size: 0.8em;
  }
}

@media tv
{
  #bloc_page
  {
   width: auto;
  }

  #banniere_image
  {
   display: none;
  }

  nav ul
  { 
   flex-direction: column;
  }
  section
  {
   flex-direction: column;
  }
  
  #Photo_Isaac
  {
   width: 110px;
   float: right;
   margin-left: 15px;
  }

  footer p
  {
    font-size: 0.8em;
  }
}

@media all and (min-width: 1024px) and (max-width: 1280px)
{
  #bloc_page
  {
   width: auto;
  }

  #banniere_image
  {
   display: none;
  }

  nav ul
  { 
   flex-direction: column;
  }
  section
  {
   flex-direction: column;
  }
  
  #Photo_Isaac
  {
   width: 110px;
   float: right;
   margin-left: 15px;
  }

  footer p
  {
    font-size: 0.8em;
  }
}

@media all and (orientation: portrait)
{
  #bloc_page
  {
   width: auto;
  }

  #banniere_image
  {
   display: none;
  }

  nav ul
  { 
   flex-direction: column;
  }
  section
  {
   flex-direction: column;
  }
  
  #Photo_Isaac
  {
   width: 110px;
   float: right;
   margin-left: 15px;
  }

  footer p
  {
    font-size: 0.8em;
  }
}